/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* Styles for the modal container */
.modal {
    display: none;
    /* Hide the modal by default */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
}

/* Styles for the modal content */
.modal-content {
    background-color: #fff;
    width: 350px;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal-content>p {
    color: #333;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Styles for the modal buttons */
.modal-content button:last-child {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff4f4f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.modal-content button:first-child {
    margin: 10px;
    padding: 10px 20px;
    background-color: none;
    color: #616161;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.modal-content button:hover {
    background-color: #d34646;
}

.modal-content button:first-child:hover {
    background-color: #d3d3d3;
}

/* START OF HEADER AND NAV BAR */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    background-color: #fcfcfc;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
}

nav>.logo>h1 {
    color: #00588b;
    font-size: 2rem;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul>li:first-child {
    border-bottom: #00588b solid 0.15rem;
    padding-bottom: 0.1rem;
}

nav>ul>li:last-child {
    margin-left: 7rem;
    background-color: #bbdaec;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;

}

nav>ul>li:last-child>form>button {
    color: #00588b;
    font-weight: 600;
    font-size: 1rem;
    background-color: #bbdaec;
    border: none;
    cursor: pointer;
}

nav>ul>li:last-child>form>button>img {
    height: 1rem;
}

nav>ul>li {
    list-style: none;
    margin-left: 3.5rem;
}

nav>ul>li>a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

/* END OF HEADER */

/* START OF CONTENT AREA */

main {
    display: flex;
    flex-direction: column;
    padding: 10rem;
}

/*start of section-1*/
.section-1 {
    background-color: #f4fbff;
    display: flex;
    flex-direction: row;
    padding: 10rem;
    height: 35rem;
    padding-top: 5rem;
}

.section-1>.sub-section:first-child>h1 {
    color: #00588b;
    width: 40rem;
    font-size: 3rem;
}

.section-1>.sub-section:first-child>p {
    color: #5f5f5f;
    font-size: 1.3rem;
    border-left: #00588b solid 0.3rem;
    width: 35rem;
    text-align: justify;
    margin-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.section-1>.sub-section:first-child>.page-info {
    background-color: #fcfcfc;
    box-shadow: 1px 0px 61px -28px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 0px 61px -28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 61px -28px rgba(0, 0, 0, 0.75);
    display: flex;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 0.5rem;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
}

.section-1>.sub-section:first-child>.page-info>.infos {
    display: flex;
    flex-direction: column;
    border-right: #ebebeb solid 0.2rem;
    padding-right: 4rem;
}

.section-1>.sub-section:first-child>.page-info>.infos:last-child {
    border: none;
    margin-right: 0;
}

.section-1>.sub-section:first-child>.page-info>.infos:first-child {
    margin-left: 2rem;
}

.section-1>.sub-section:first-child>.page-info>.infos>span {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #333;
}

.section-1>.sub-section:first-child>.page-info>.infos>.details {
    display: flex;
    align-items: center;
}

.section-1>.sub-section:first-child>.page-info>.infos>.details>img {
    height: 1.5rem;
    margin-right: 1rem;
}

.section-1>.sub-section:first-child>.page-info>.infos>.details>span {
    color: #5f5f5f;
}

.section-1>.sub-section:last-child>img {
    position: relative;
    top: -9rem;
}

/*end of section-1*/

/*start of section-2*/

.section-2 {
    display: flex;
    flex-direction: row;
    margin-left: -30rem;
    padding-left: 20rem;
}

.section-2>.sub-section:first-child {
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    background-color: #f4fbff;
    padding-left: 20rem;
    padding-top: 5rem;
    height: 35rem;
    width: 68rem;
}

.section-2>.sub-section:first-child>.card-wrapper>h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.section-2>.sub-section:first-child>.card-wrapper {
    display: flex;
    flex-direction: column;
}

.section-2>.sub-section:first-child>.card-wrapper>div {
    display: flex;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards {
    background-color: #fcfcfc;
    box-shadow: 1px 0px 61px -32px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 0px 61px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 61px -32px rgba(0, 0, 0, 0.75);
    width: 22rem;
    margin-right: 2rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 1rem;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>img {
    height: 17rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow-wrap: break-word;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>span {
    font-weight: 550;
    font-size: 1.3rem;
    color: #333;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>.room-details {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>.room-details>.details-group {
    margin-right: 1.5rem;
    justify-content: center;
    align-items: center;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>.room-details>.details-group>img {
    height: 1.5rem;
    margin-right: 0.5rem;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>.room-details>.details-group>span {
    font-size: 1rem;
    color: #5f5f5f;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>.availability {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    text-decoration: none;
}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>.availability>span {
    font-size: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    color: #00588b;

}

.section-2>.sub-section:first-child>.card-wrapper>div>.cards>.card-content>.availability>img {
    height: 1rem;
}

.section-2>.sub-section:last-child {
    width: 20rem;
    margin-left: 1rem;
    position: relative;
    top: 21rem;
}

.section-2>.sub-section:last-child>a {
    text-decoration: none;
    color: #00588b;
    background-color: #bbdaec;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-left: 10rem;
}

.section-2>.sub-section:last-child>.feature-card {
    background-color: #00588b;
    margin-top: 2.5rem;
    color: #f4fbff;
    padding: 2.5rem;
    border-radius: 0.5rem;
    width: 20rem;
}

.section-2>.sub-section:last-child>.feature-card>h2 {
    margin-bottom: 2rem;
    width: 10rem;
}

.section-2>.sub-section:last-child>.feature-card>span {
    line-height: 1.6;
}

.section-2>.sub-section:last-child>.feature-card>.para {
    margin-top: 2.5rem;
    padding-left: 1rem;
    border-left: #f4fbff solid 0.2rem;
}

.section-2>.sub-section:last-child>.feature-card>.para>p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.section-2>.sub-section:last-child>.feature-card>button {
    margin-top: 2rem;
    color: #00588b;
    background-color: #bbdaec;
    border: none;
    padding: 1rem 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
}

/*end of section-2*/

/*start of section-3*/
.section-3 {
    margin-top: 20rem;
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
}

.section-3>.sub-section {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.section-3>.sub-section>h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    width: 30rem;
}

.section-3>.sub-section>span {
    color: #5f5f5f;
    font-size: 1.3rem;
    width: 31rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.section-3>.sub-section>.services-offered {
    display: flex;
    flex-direction: row;
    width: 35rem;
}

.section-3>.sub-section>.services-offered>.divider {
    display: flex;
    flex-direction: column;
}

.section-3>.sub-section>.services-offered>.divider>.service {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.section-3>.sub-section>.services-offered>.divider>.service>img {
    height: 3rem;
    padding-right: 1.5rem;
}

.section-3>.sub-section>.services-offered>.divider>.service>span {
    color: #5f5f5f;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.section-3>.sub-section>.navigate-to {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.section-3>.sub-section>.navigate-to>a:first-child {
    text-decoration: none;
    color: #f4fbff;
    background-color: #00588b;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.section-3>.sub-section>.navigate-to>a:last-child {
    text-decoration: none;
    margin-left: 3rem;
}

.section-3>.sub-section>.navigate-to>a:last-child>span {
    color: #00588b;
    font-weight: 600;
}

.section-3>.sub-section>.navigate-to>a:last-child>img {
    height: 1rem;
    margin-left: 0.5rem;
}

.section-3>.sub-section:last-child>img {
    height: 40rem;
    position: relative;
    top: -3.5rem;
    transition: transform 0.3s;
    transform-origin: center center;
}

.section-3>.sub-section:last-child>img:hover {
    transform: scale(1.1);
}

/*end of section-3*/

/* END OF CONTENT AREA */