/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    background-image: url(./assets/dorm2.jpg);
}

h

/* START OF HEADER AND NAV BAR */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    background-color: #fcfcfc;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
}

nav>.logo>h1 {
    color: #00588b;
    font-size: 2rem;
}


/* END OF HEADER */

main {
    max-width: 450px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-top: 2rem;
    font-size: 24px;
    margin-bottom: 20px;
    color: #00588b;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #00588b;
    color: #f2f2f2;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: #0070b1;
}

.login-form p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.login-form p a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;

}

.login-form p a:hover {
    color: #555;
}

form .error {
    width: 25.5rem;
    height: 3rem;
    background-color: #ff6969;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
    border-radius: 0.5rem;
}